---

const today = new Date()
---

<footer class="text-zinc-500 p-4 text-center">
  &copy; {today.getFullYear()}
  <a href={'https://mridulsharma.vercel.app/'}>Mridul Sharma</a>. All rights reserved.<br />
  This is not my original concept. Website concept is taken from : https://uses.craftz.dog//<br />
</footer>
