---
const isProd = import.meta.env.PROD

---

<section class="relative mb-6 h-40 flex justify-center items-center">
  <div class="absolute w-full h-half overflow-hidden">
  </div>
  <div class="z-10 text-center px-8 drop-shadow-lg shadow-black">
    <div class="text-4xl font-mplus font-medium">
      Hi! I'm <span class="text-orange-500">Mridul Sharma</span>
    </div>
    <div class="text-4xl font-mplus font-medium">
      Welcome to my <span class="text-orange-500">Blog!</span>
    </div>
  </div>
</section>
